body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 2%;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* navigation-section */

header {
  border-bottom: 1px solid #e7e9fc;
}

.navigation-section {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu .logo-link {
  margin-right: 76px;
}

.logo-link {
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-span {
  color: #2e2f42;
}

.nav-menu-list {
  display: flex;
  gap: 40px;
}

.nav-menu-item {
  color: #2e2f42;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.nav-menu-list .nav-menu-item:hover {
  color: #404bbf;
}

.nav-menu-list .nav-menu-item:focus {
  color: #404bbf;
}

address {
  font-style: normal;
  margin-left: auto;
}

.contacts-link .contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-list {
  letter-spacing: 0.02em;
}

.contacts-item {
  text-decoration: none;
  color: #434455;
  font-weight: 400;
}

.contacts-list .contacts-item:hover,
.contacts-list .contacts-item:focus {
  color: #404bbf;
}

/* Section 1 */
.first-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office.jpg);
  background-position: center;
  background-size: cover;
}

.first-section-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.order-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  line-height: 1.5;
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* Section 2 */

.features-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list .features-list-item {
  width: calc((100% - 72px) / 4);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.description-text {
  font-size: 16px;
  letter-spacing: 0.02em;
}

.icon-container {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.icon {
  fill: #2e2f42;
  width: 64px;
  height: 64px;
}

/* Section 3 */
.team-section {
  padding: 120px 0;
}

.team-section {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-member-card {
  padding: 32px 0;
}

.team-member-subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.team-member-text {
  text-align: center;
  margin-bottom: 8px;
}

.link-container {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.team-list .link:hover {
  background-color: #404bbf;
}

.social-link-icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

/* Section 4 */
.portfolio-section {
  padding: 120px 0;
}

.portfolio-list {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.app-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-parent-position {
  position: relative;
}

.portfolio-child-position {
  position: absolute;
  width: 360px;
  height: 300px;
  background-color: #4d5ae5;
  flex-shrink: 0;
  transform: translateY(-100%);
}

.portfolio-child-position-text {
  color: #f4f4fd;
  width: 296px;
  margin: 0 auto;
  margin-top: 40px;
}

.finger-icon {
  width: 16px;
  height: 16px;
  fill: #2e2f42;
  transform: translateX(710px);
}

/* Footer */
.footer-container {
  display: flex;
}

.footer-section {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.social-link-container {
  width: 208px;
  margin-left: 120px;
}

.social-media-text {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.32px;
}

.social-media-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 16px 0;
}

.social-media-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}
